.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  display: flex;
  justify-content: center;
  height: 100%;
  z-index: 10000;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 100%;
    position: sticky;
    top: 0;
    align-items: center;

    &__nav-btn {
      transform: translateY(-2rem);
    }
  }

  &__nav-btn {
    border: none;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    position: fixed;

    &::before,
    &::after {
      background-color: #fff;
      height: 2px;
      width: 4.5rem;
      content: "";
      display: block;
      position: fixed;

      @media only screen and (max-width: $bp-large) {
        position: relative;
      }
    }

    &::before {
      transform: translateY(-1.5rem);
    }
    &::after {
      transform: translateY(1.3rem);
    }
  }
}
